html {
      font-family: Helvetica;
}
.intro {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}
h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  font-size: 18px;
  color: white;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 14px;
  text-align: center;
}

.headertwo {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.footer {
  white-space: nowrap;
  display: inline-block;
  overflow-x: auto;
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
